:root {
  --dark: rgb(0, 28, 46);
  --mid: rgb(13, 101, 141);
  --light: rgb(132, 182, 206);
  --whiter: rgb(175, 192, 199);
}
* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  padding: 5px;
}

header {
  padding: 1%;
  background-color: var(--mid);
  align-items: center;
  color: rgb(175, 192, 199);
  display: flex;
  border-bottom: 5px solid var(--light);
  margin-bottom: 0px;
}

.subheader {
  display: flex;
  margin: 0%;
}

.subheader img {
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.subfooter {
  display: flex;
  margin: 0%;
}

.subfooter img {
  object-fit: cover;
  width: 100%;
  height: 100px;
  margin-bottom: 32px;
  margin-left: 6px;
}

nav {
  width: 100%;
}

h1 {
  font-size: 40px;
  min-width: 300px;
}
h1 a {
  text-decoration: none;
  color: var(--whiter);
}

nav ul {
  list-style-type: none;
  display: flex;
  float: right;
  justify-content: space-evenly;
  text-align: end;
  width: 40%;
  font-size: 22px;
}

nav a {
  color: var(--whiter);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--dark);
}

.left-column {
  float: left;
  width: 24%;
  height: 100%;
}

aside {
  padding: 30px;
  width: 25%;
  background-color: var(--mid);
  color: var(--whiter);
  border-right: 5px solid var(--light);
}

aside h2 {
  margin: 30px;
  font-size: 32px;
  justify-content: left;
}
aside p {
  line-height: 1.5;
  font-size: 20px;
  margin: 30px;
}

aside img {
  border-radius: 50%;
  margin: 30px;
}

aside img:hover {
  color: var(--dark);
  background: var(--dark);
  box-shadow: 0 0 100px var(--dark);
}

.about:target {
  border: 5px solid var(--dark);
  box-shadow: inset 5px 5px 15px 5px var(--dark);
  margin: 0px;
  width: 99.9%;
  height: 100%;
}

.about:target aside h2 {
  text-shadow: 2px 0 10px var(--dark);
}

.right-column {
  float: right;
  width: 73%;
}

section {
  padding: 10px;
  margin: 15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1.5px dashed var(--light);
}

section img {
  display: flex;
  justify-content: stretch;
  width: 375px;
  height: 375px;
}

.container {
  display: flex;
  justify-content: center;
}

.overlay {
  display: flex;
  position: absolute;
  width: 375px;
  height: 375px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.currentproject {
  width: 98%;
}

.longcontainer {
  display: flex;
  justify-content: center;
  height: 300px;
}

.overlaylong {
  display: flex;
  position: absolute;
  width: 85%;
  height: 26%;
  transition: background 0.5s ease;
}

.longcontainer img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container:hover .overlay {
  display: block;
  border: 2px solid var(--light);
  box-shadow: 2px 5px 5px var(--light);
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.3);
}

.longcontainer:hover .overlaylong {
  display: block;
  border: 2px solid var(--light);
  box-shadow: 2px 5px 5px var(--light);
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.3);
}

.button {
  display: flex;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  align-self: center;
}

.button a {
  width: auto;
  padding: 12px 48px;
  font-size: 16px;
  text-align: center;
  color: var(--light);
  border: solid 2px var(--light);
  background-color: var(--mid);
  opacity: 0.5;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

.longcontainer:hover .button {
  opacity: 1;
}

footer {
  list-style-type: none;
  font-size: 25px;
  display: flex;
  background-color: var(--mid);
  border-top: 5px solid var(--light);
  color: var(--whiter);
  position: fixed;
  bottom: 0px;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  margin-left: 5px;
}

.contact:target {
  margin: 0;
  width: 100%;
  border: 5px solid var(--dark);
  box-shadow: inset 5px 5px 5px var(--dark);
}

footer a {
  list-style-type: none;
  color: var(--light);
  font-size: 20px;
  text-decoration: none;
  margin-left: 0px;
}

footer a:hover {
  color: var(--dark);
}
/* 
@media screen and (min-width: 1440) {
  .longcontainer img .overlaylong {
    width: 1500px;
  }
} */

@media screen and (max-width: 1440px) {
  section {
    margin-top: 120px;
    margin-bottom: -30px;
  }
  .currentproject {
    height: 270px;
    margin-bottom: 30px;
  }
  .longcontainer {
    height: 230px;
  }
  nav ul {
    font-size: 20px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 880px) {
  .right-column {
    flex-direction: column;
    width: 72%;
  }
  nav ul {
    float: left;
    width: 100%;
  }
  aside {
    padding: 0px;
  }
  aside h2 {
    margin: 5px;
    font-size: 24px;
  }
  aside p {
    margin: 10px;
  }
  aside img {
    height: 100px;
  }
  section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .currentproject {
    height: 310px;
    margin-bottom: 20px;
  }
  .longcontainer {
    align-items: center;
  }
  footer {
    margin-left: 0px;
  }
}

@media screen and (max-width: 390px) {
  footer {
    position: relative;
  }
}
